In [1]:
# import pymysql
# import pandas as pd
# from sqlalchemy import create_engine
# df=pd.read_csv(r'price2.csv')
# df['日期'] = df.日期.str[6:11] + '/' + df.日期.str[0:5]

# connect_db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='', charset='utf8', db='price')
# with connect_db.cursor() as cursor:
#     sql = """
#     CREATE TABLE IF NOT EXISTS price2(
#         ID int NOT NULL AUTO_INCREMENT PRIMARY KEY,
#         品牌 varchar(10),
#         價格 int(5),
#         數量 int(3),
#         每包ml int(3),
#         每元可買ml float(2),
#         日期 date,
#         連結 varchar(300)  
#     );
#     """
#     cursor.execute(sql)
#     connect_db.commit()
#     connect_db.close()
    
# connect_db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='', charset='utf8mb4', db='price')
# with connect_db.cursor() as cursor:
#     for i in range(len(df)): #len(df)
#         sql = """
#         INSERT INTO price2 (品牌, 價格, 數量, 每包ml, 每元可買ml, 日期, 連結) VALUES (
#             '{}', '{}', '{}','{}', '{}','{}','{}')
#             ORDER BY 品牌
#             """.format(
#         df.iloc[i][0], df.iloc[i][1], df.iloc[i][2], df.iloc[i][3], df.iloc[i][4], df.iloc[i][5], df.iloc[i][6])
            
#         # sql="SELECT * FROM price2 ORDER BY 品牌"
            
#         cursor.execute(sql)
#         connect_db.commit()
  
  
# # with connect_db.cursor() as cursor:
# #     sql="SELECT * FROM price2 ORDER BY 品牌"
# #     cursor.execute(sql)
# #     connect_db.commit()
  
#     print(sql)
#     # sql = "INSERT INTO Member ({}, {}, {}) VALUES".format(df.病歷號[0], df.病歷號[0], df.病歷號[0])
    
# #  DELETE price2 FROM price price2
# # INNER JOIN price t2 
# # WHERE 
# #     price2.ID < t2.ID AND 
# #     price2.品牌 = t2.品牌;   

#     connect_db.close()

OperationalError: (2003, "Can't connect to MySQL server on '127.0.0.1' ([WinError 10061] 無法連線，因為目標電腦拒絕連線。)")

In [ ]:
    # sql="""
    #     DELETE price2
    #     FROM price price2
    #     JOIN (
    #         SELECT MIN(ID) AS min_id
    #         FROM price
    #         GROUP BY 品牌, 價格, 數量, 每包ml, 每元可買ml, 日期, 連結
    #         HAVING COUNT(*) > 1
    #     ) t2 ON price2.ID = t2.min_id;
    # """

In [5]:

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
import time
import os
import pandas as pd
import time
from datetime import datetime

date1 = datetime.now().strftime("%m/%d/%Y")
path=r'C:\Users\User\Desktop\chromedriver.exe'
driver=webdriver.Chrome(path)

l1='https://shop.nongchunxiang.com.tw/products/chicken-roomteper-60'
l2='https://www.momoshop.com.tw/goods/GoodsDetail.jsp?i_code=10086436&str_category_code=4400200061&ctype=B&Area=DgrpCategory&sourcePageType=4'
l3='https://www.privatecuisine.tw/products/%E7%B4%85%E6%A3%97%E6%9E%B8%E6%9D%9E%E6%BB%B4%E9%9B%9E%E7%B2%BE65%E5%85%A5%E7%84%A1%E7%9B%92%EF%BC%8C5%E5%8C%85%E4%B8%80%E6%9D%9F%EF%BC%8C%E5%85%B113%E6%9D%9F'
l4='https://www.fun-s.com.tw/products/essenceofchicken-godsc-self'
l5='https://lxz.com.tw/product/CCB700'
l6='https://www.momoshop.com.tw/goods/GoodsDetail.jsp?i_code=10872669&str_category_code=4400200126&sourcePageType=4'
l7='https://www.momoshop.com.tw/goods/GoodsDetail.jsp?i_code=6854589&Area=search&mdiv=403&oid=1_3&cid=index&kw=%E6%BB%B4%E9%9B%9E%E7%B2%BE'
l8='https://www.momoshop.com.tw/goods/GoodsDetail.jsp?i_code=9093845'
l9='https://www.momoshop.com.tw/goods/GoodsDetail.jsp?i_code=6854590'
l10='https://www.privatecuisine.tw/products/%E7%B4%94%E7%85%89%E5%8E%9F%E5%91%B3%E6%BB%B4%E9%9B%9E%E7%B2%BE65%E5%85%A5%E7%84%A1%E7%9B%92%EF%BC%8C5%E5%8C%85%E4%B8%80%E6%9D%9F%EF%BC%8C%E5%85%B113%E6%9D%9F'

x1='//*[@id="Content"]/div/div[2]/div/div[2]/div/div[2]/div/div[2]/div[1]/div/div[1]' #60item * 100ml
x2='//*[@id="productForm"]/div[2]/div[1]/ul[3]/li[3]/span' #28 * 100
x3='//*[@id="Content"]/div/div[2]/div/div[1]/div[2]/div/div[2]/div/div[2]/div[1]/div/div[1]'
# x4='/html/body/div[9]/div[1]/div/div/div/div[2]/div[3]/div[2]/div[5]/div[1]/div[2]/variation-label-selector/div/div/div[3]'
x4='/html/body/div[9]/div[1]/div/div/div/div[2]/div[3]/div[2]/div[5]/div[1]/div[2]/variation-label-selector/div/div/div[3]'
x42='/html/body/div[9]/div[1]/div/div/div/div[2]/div[3]/div[2]/div[3]/div[2]/span[1]'

x5='//*[@id="id_content"]/div[1]/div[2]/div/div[1]/div[2]/div[3]/p/b'
# x6='//*[@id="productForm"]/div[2]/div[1]/ul[4]/li[3]/span'
# x6='//*[@id="productForm"]/div[2]/div[1]/ul[4]/li[2]/span' #0601
# x6='//*[@id="productForm"]/div[2]/div[1]/ul[4]/li[3]/span' #0705

x7='//*[@id="productForm"]/div[2]/div[1]/ul[3]/li[2]/span'
x8='//*[@id="productForm"]/div[2]/div[1]/ul[3]/li[3]/span'
# x8='//*[@id="productForm"]/div[2]/div[1]/ul[3]/li[2]/span' #0812
# x8='//*[@id="productForm"]/div[2]/div[1]/ul[3]/li[3]/span'
x9='//*[@id="productForm"]/div[2]/div[1]/ul[3]/li[2]/span'
x10='//*[@id="product-info"]/div/div[2]/div[1]/div/div[1]'

C:\Users\User\AppData\Local\Temp\ipykernel_15120\2733933451.py:14: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(path)

In [6]:
driver.get(l1) 
p1=driver.find_element("xpath",x1).text

data = {
    'brand': ['農純鄉'],
    'price': [p1],
    'cnt': [60],
    'ml': [100],
    'link': [l1]
}

df = pd.DataFrame(data)
df.price=df.price.str.replace('NT','')
df.price=df.price.str.replace('$','')
df.price=df.price.str.replace(',','')
df.price=df.price.astype(int)
df['price2']= (df.cnt * df.ml) / df.price #一元可以買到多少ML

C:\Users\User\AppData\Local\Temp\ipykernel_15120\821704799.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.price=df.price.str.replace('$','')

In [7]:
driver.get(l2) 
p2=driver.find_element("xpath",x2).text

data = {
    'brand': ['農純鄉'],
    'price': [p2],
    'cnt': [28],
    'ml': [100],
    'link': [l2]
}
# driver.quit()

df2 = pd.DataFrame(data)
# df2.price=df2.price.str.replace('NT','')
# df2.price=df2.price.str.replace('$','')

# df2.price=df2.price.astype(int)
# df2['price2']= df2.price / (df2.cnt * df2.ml) #一元可以買到多少ML

df2.price=df2.price.str.replace(',','')
df2.price = df2.price.astype(int)
df2['price2'] = (df2.cnt * df2.ml) / df2.price
df2

,brand,price,cnt,ml,link,price2
0,農純鄉,3999,28,100,https://www.momoshop.com.tw/goods/GoodsDetail....,0.700175

In [8]:
driver.get(l3) 
p3=driver.find_element("xpath",x3).text

data = {
    'brand': ['純煉紅棗枸杞'],
    'price': [p3],
    'cnt': [65],
    'ml': [60],
    'link': [l3]
}
# driver.quit()

df3 = pd.DataFrame(data)
df3.price=df3.price.str.replace('NT','')
df3.price=df3.price.str.replace('$','')
df3.price=df3.price.str.replace(',','')
df3.price=df3.price.astype(int)

df3['price2'] = (df3.cnt * df3.ml) / df3.price
df3

C:\Users\User\AppData\Local\Temp\ipykernel_15120\3064142606.py:15: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df3.price=df3.price.str.replace('$','')

,brand,price,cnt,ml,link,price2
0,純煉紅棗枸杞,5800,65,60,https://www.privatecuisine.tw/products/%E7%B4%...,0.672414

In [9]:
driver.get(l4) 
driver.find_element("xpath",x4).click()
p4=driver.find_element("xpath",x42).text

data = {
    'brand': ['芳茲'],
    'price': [p4],
    'cnt': [50],
    'ml': [50],
    'link': [l4]
}
# driver.quit()

df4 = pd.DataFrame(data)
df4.price=df4.price.str.replace('NT','')
df4.price=df4.price.str.replace('$','')
df4.price=df4.price.str.replace(',','')
df4.price=df4.price.astype(int)

df4['price2'] = (df4.cnt * df4.ml) / df4.price
df4

C:\Users\User\AppData\Local\Temp\ipykernel_15120\2716825463.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df4.price=df4.price.str.replace('$','')

,brand,price,cnt,ml,link,price2
0,芳茲,6800,50,50,https://www.fun-s.com.tw/products/essenceofchi...,0.367647

In [10]:
# driver.get(l5) 
# time.sleep(2)
# p5=driver.find_element("xpath",x5).text

# data = {
#     'brand': ['老協珍'],
#     'price': [p5],
#     'cnt': [14*3],
#     'ml': [42],
#     'link': [l5]
# }
# # driver.quit()

# df5 = pd.DataFrame(data)
# df5.price=df5.price.str.replace('NT','')
# df5.price=df5.price.str.replace('$','')
# df5.price=df5.price.str.replace(',','')
# df5.price=df5.price.astype(int)

# df5['price2'] = (df5.cnt * df5.ml) / df5.price
# df5

In [11]:
# driver.get(l6) 
# time.sleep(6)
# p6=driver.find_element("xpath",x6).text

# data = {
#     'brand': ['純煉'],
#     'price': [p6],
#     'cnt': [10*3],
#     'ml': [60],
#     'link': [l6]
# }
# # driver.quit()

# df6 = pd.DataFrame(data)
# df6.price=df6.price.str.replace('NT','')
# df6.price=df6.price.str.replace('$','')
# df6.price=df6.price.str.replace(',','')
# df6.price=df6.price.astype(int)

# df6['price2'] = (df6.cnt * df6.ml) / df6.price
# df6

In [12]:
driver.get(l7) 
time.sleep(2)
p7=driver.find_element("xpath",x7).text

data = {
    'brand': ['享食尚'],
    'price': [p7],
    'cnt': [27],
    'ml': [45],
    'link': [l7]
}
# driver.quit()

df7 = pd.DataFrame(data)
df7.price=df7.price.str.replace('NT','')
df7.price=df7.price.str.replace('$','')
df7.price=df7.price.str.replace(',','')
df7.price=df7.price.astype(int)

df7['price2'] = (df7.cnt * df7.ml) / df7.price
df7

C:\Users\User\AppData\Local\Temp\ipykernel_15120\1433213624.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df7.price=df7.price.str.replace('$','')

,brand,price,cnt,ml,link,price2
0,享食尚,2650,27,45,https://www.momoshop.com.tw/goods/GoodsDetail....,0.458491

In [13]:
driver.get(l8) 
time.sleep(2)
p8=driver.find_element("xpath",x8).text

data = {
    'brand': ['老協珍'],
    'price': [p8],
    'cnt': [25],
    'ml': [42],
    'link': [l8]
}
# driver.quit()

df8 = pd.DataFrame(data)
df8.price=df8.price.str.replace('NT','')
df8.price=df8.price.str.replace('$','')
df8.price=df8.price.str.replace(',','')
df8.price=df8.price.astype(int)
df8.price=df8.price-300 #蜂蜜算300

df8['price2'] = (df8.cnt * df8.ml) / df8.price
df8

C:\Users\User\AppData\Local\Temp\ipykernel_15120\2076628780.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df8.price=df8.price.str.replace('$','')

,brand,price,cnt,ml,link,price2
0,老協珍,2299,25,42,https://www.momoshop.com.tw/goods/GoodsDetail....,0.45672

In [14]:
driver.get(l9) 
time.sleep(2)
p9=driver.find_element("xpath",x9).text

data = {
    'brand': ['享食尚'],
    'price': [p9],
    'cnt': [60],
    'ml': [45],
    'link': [l9]
}
# driver.quit()

df9 = pd.DataFrame(data)
df9.price=df9.price.str.replace('NT','')
df9.price=df9.price.str.replace('$','')
df9.price=df9.price.str.replace(',','')
df9.price=df9.price.astype(int)
# df9.price=df9.price-300 #蜂蜜算300

df9['price2'] = (df9.cnt * df9.ml) / df9.price
df9

C:\Users\User\AppData\Local\Temp\ipykernel_15120\2896032539.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df9.price=df9.price.str.replace('$','')

,brand,price,cnt,ml,link,price2
0,享食尚,5800,60,45,https://www.momoshop.com.tw/goods/GoodsDetail....,0.465517

In [ ]:
driver.get(l9) 
time.sleep(2)
p10=driver.find_element("xpath",x10).text

data = {
    'brand': ['享食尚'],
    'price': [p10],
    'cnt': [60],
    'ml': [45],
    'link': [l10]
}
# driver.quit()

df10 = pd.DataFrame(data)
df10.price=df10.price.str.replace('NT','')
df10.price=df10.price.str.replace('$','')
df10.price=df10.price.str.replace(',','')
df10.price=df10.price.astype(int)
# df10.price=df10.price-300 #蜂蜜算300

df10['price2'] = (df10.cnt * df10.ml) / df10.price
df10

In [15]:
import openpyxl
df0=pd.concat([df,df2,df3,df4,df7,df8,df9,df10])
# df0=pd.concat([df,df2,df3,df4,df5,df6,df7,df8,df9])
df0

df0['date']= date1
df0['date']=df0['date'].astype(str)
df0

,brand,price,cnt,ml,link,price2,date
0,農純鄉,8000,60,100,https://shop.nongchunxiang.com.tw/products/chi...,0.750000,09/02/2023
0,農純鄉,3999,28,100,https://www.momoshop.com.tw/goods/GoodsDetail....,0.700175,09/02/2023
0,純煉紅棗枸杞,5800,65,60,https://www.privatecuisine.tw/products/%E7%B4%...,0.672414,09/02/2023
0,芳茲,6800,50,50,https://www.fun-s.com.tw/products/essenceofchi...,0.367647,09/02/2023
0,享食尚,2650,27,45,https://www.momoshop.com.tw/goods/GoodsDetail....,0.458491,09/02/2023
0,老協珍,2299,25,42,https://www.momoshop.com.tw/goods/GoodsDetail....,0.456720,09/02/2023
0,享食尚,5800,60,45,https://www.momoshop.com.tw/goods/GoodsDetail....,0.465517,09/02/2023

In [16]:
import pandas as pd
csv1=r'price.csv'
df0.to_csv(csv1, mode='a',index=False,encoding='utf-8-sig')
d1=pd.read_csv(csv1)
d1

,brand,price,cnt,ml,link,price2,date
0,農純鄉,8000,60,100,https://shop.nongchunxiang.com.tw/products/chi...,0.75,05/29/2023
1,農純鄉,4280,28,100,https://www.momoshop.com.tw/goods/GoodsDetail....,0.6542056074766355,05/29/2023
2,brand,price,cnt,ml,link,price2,date
3,農純鄉,8000,60,100,https://shop.nongchunxiang.com.tw/products/chi...,0.75,05/29/2023
4,農純鄉,4280,28,100,https://www.momoshop.com.tw/goods/GoodsDetail....,0.6542056074766355,05/29/2023
...,...,...,...,...,...,...,...
147,純煉紅棗枸杞,5800,65,60,https://www.privatecuisine.tw/products/%E7%B4%...,0.6724137931034483,09/02/2023
148,芳茲,6800,50,50,https://www.fun-s.com.tw/products/essenceofchi...,0.36764705882352944,09/02/2023
149,享食尚,2650,27,45,https://www.momoshop.com.tw/goods/GoodsDetail....,0.45849056603773586,09/02/2023
150,老協珍,2299,25,42,https://www.momoshop.com.tw/goods/GoodsDetail....,0.45672031317964334,09/02/2023
151,享食尚,5800,60,45,https://www.momoshop.com.tw/goods/GoodsDetail....,0.46551724137931033,09/02/2023

In [17]:
d1=d1[d1.brand != 'brand']
d2=d1.drop_duplicates()
d2.columns
d21=d2[['brand', 'price', 'cnt', 'ml', 'price2', 'date', 'link']]
d21=d21.sort_values(by=['date','price2'],ascending=[0,0])
d21['price2'] = d21['price2'].astype(float).round(2)

d21=d21.rename(columns={'brand': '品牌',
                        'price': '價格',
                        'cnt': '數量',
                        'ml': '每包ml',
                        'price2': '每元可買ml',
                        'date': '日期',
                        'link':'連結'
                        })

d21.to_csv(r'price2.csv',encoding='utf-8-sig',index=0)

d21

,品牌,價格,數量,每包ml,每元可買ml,日期,連結
145,農純鄉,8000,60,100,0.75,09/02/2023,https://shop.nongchunxiang.com.tw/products/chi...
146,農純鄉,3999,28,100,0.70,09/02/2023,https://www.momoshop.com.tw/goods/GoodsDetail....
147,純煉紅棗枸杞,5800,65,60,0.67,09/02/2023,https://www.privatecuisine.tw/products/%E7%B4%...
151,享食尚,5800,60,45,0.47,09/02/2023,https://www.momoshop.com.tw/goods/GoodsDetail....
149,享食尚,2650,27,45,0.46,09/02/2023,https://www.momoshop.com.tw/goods/GoodsDetail....
...,...,...,...,...,...,...,...
1,農純鄉,4280,28,100,0.65,05/29/2023,https://www.momoshop.com.tw/goods/GoodsDetail....
26,純煉,3000,30,60,0.60,05/29/2023,https://www.momoshop.com.tw/goods/GoodsDetail....
34,享食尚,2765,27,45,0.44,05/29/2023,https://www.momoshop.com.tw/goods/GoodsDetail....
13,芳茲,6800,50,50,0.37,05/29/2023,https://www.fun-s.com.tw/products/essenceofchi...
19,老協珍,4880,42,42,0.36,05/29/2023,https://lxz.com.tw/product/CCB700

In [18]:
aaa

NameError: name 'aaa' is not defined

In [ ]:
# df0.to_excel(r'often/price.xlsx',mode='a')


# excel_file = 'often/price.xlsx'

# # Load the existing Excel file
# try:
#     # Read the existing sheets into a dictionary of dataframes
#     sheets = pd.read_excel(excel_file, sheet_name=None)
#     # Get the first sheet name
#     sheet_name = list(sheets.keys())[0]
#     # Get the last row index of the first sheet
#     startrow = sheets[sheet_name].shape[0]
# except FileNotFoundError:
#     # If the file doesn't exist, start from the first row
#     startrow = 0

# with pd.ExcelWriter(excel_file, mode='a', engine='openpyxl', if_sheet_exists='replace') as writer:
#     df0.to_excel(writer, sheet_name='0', index=False, header=False)
#     # df0.to_excel(writer, sheet_name='0', index=False, header=False, startrow=startrow)

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
import time
import os
import wget


path=r'C:\Users\User\Desktop\chromedriver.exe'
driver=webdriver.Chrome(path)
driver.get('https://wiki.biligame.com/ys/%E5%8D%A1%E7%89%8C%E4%B8%80%E8%A7%88')
time.sleep(9)

a='//*[@id="mw-content-text"]/div/div[4]/div/div[1]/div[1]/div[1]/div/div/div[1]/div/a'
b='//*[@id="mw-content-text"]/div/div[4]/div/div[1]/div[1]/div[2]/div[1]/div[1]/div[1]'
q=driver.find_element("xpath",a).text
# q=driver.find_element(By.XPATH,b).text
# q=WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, a))).text
# q=WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, a))).text

print(q)
print(driver.title)
driver.quit()
# driver.find_element(By.XPATH,'//*[@id="loginForm"]/tbody/tr[1]/td[2]/input').send_keys('Eustia')
# driver.find_element("xpath",'//*[@id="loginForm"]/tbody/tr[2]/td[2]/input').send_keys('7539518426')
# driver.find_element("xpath",'//*[@id="loginForm"]/tbody/tr[2]/td[2]/input').send_keys(Keys.RETURN)

# WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, '//*[@id="button63bd2f3d9cef7"]/div'))).click()